 html {
      height: 100%;
      min-width: 900px;
      width: 100%;

    }

    body {
      height: 100%;
      margin: 0;
      min-width: 1000px;
      width: 100%;
    }

    header {
      font-size: 0px;
      min-width: 1000px;
      width: 100%;
    }

    header * {
      font-size: 16px;
    }


    main {
      height: 100%;
    }

    header {
      background-color: rgb(60, 60, 60);
      height: 40px;
    }

    .icon {
      display: inline-block;
      background-image: url(vs.png);
      xbackground-color: #fff;
      width: 50px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: 50px 35px;
      vertical-align: top;
      margin: 0px;
    }

    .button {
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      color: rgb(204, 204, 204);
      width: 80px;
      height: 40px;
      xborder: 2px solid red;
      text-align: center;
      box-sizing: border-box;
      margin: 0px;
    }


    div.button:hover {
      background-color: rgb(80, 80, 80);
    }

    ul {
      margin: 0;
    }

    .button li {
      padding: 0;
      list-style: none;
      text-align: left;
      text-indent: 40px;
      height: 40px;
      box-sizing: border-box;
      xborder: 3px solid red;
    }

    li:hover {
      background-color: rgb(0, 122, 204);
    }

    #f {
      position: relative;
    }

    .fmenu {
      width: 400px;
      height: 720px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
      padding: 5px 0 5px 0;
      margin: 0;
    }

    #f:hover .fmenu{
      z-index: 1;
    }

    .fmenu6:hover ul{
      display: block;

    }

    ul.menu2{
      height: 525px;
      width: 530px;
      background-color:rgb(45, 45, 45);
      position: absolute;
      top:200px;
      left:400px;
      padding: 5px 0px 0px 0px;
      display: none;
    }
.fmenu{
  xposition: relative;
}
    .fmenu6::after{
      content:'>';
      xbackground: red;
      position: absolute;
      top:205px;
      left:330px;
    }





    #e {
      position: relative;
    }

    .emenu {
      width: 390px;
      height: 530px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }

    #s {
      position: relative;
    }

    #s:hover {
      visibility: visiable;
      z-index: 2;
    }

    .smenu {
      width: 470px;
      height: 650px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }


    #v:hover {
      visibility: visiable;
      z-index: 2;
    }

    #v {
      position: relative;
    }

    .vmenu {
      width: 360px;
      height: 730px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }



    #g:hover {
      visibility: visiable;
      z-index: 2;
    }

    #g {
      position: relative;
    }

    .gmenu {
      width: 440px;
      height: 770px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }



    #r:hover {
      visibility: visiable;
      z-index: 2;
    }

    #r {
      position: relative;
    }

    .rmenu {
      width: 360px;
      height: 650px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }




    #t:hover {
      visibility: visiable;
      z-index: 2;
    }


    #t {
      position: relative;
    }

    .tmenu {
      width: 380px;
      height: 450px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }

    #e:hover {
      visibility: visiable;
      z-index: 2;
    }

    #h {
      position: relative;
    }

    .hmenu {
      width: 330px;
      height: 650px;
      background-color: rgb(40, 40, 40);
      position: absolute;
      xtop: 40px;
      xleft: 55px;
      z-index: -1;
    }

    #h:hover {
      visibility: visiable;
      z-index: 2;
    }










    div.footer {
      height: calc(100% - 35px);
      xbackground-color: yellow;
      font-size: 0px;
    }

    div.footer * {
      font-size: 16px;
    }

    aside {
      height: 100%;
      background-color: rgb(51, 51, 51);
      width: 70px;
      display: inline-block;
    }

    div.view {
      background-color: rgb(30, 30, 30);
      height: 100%;
      width: calc(100% - 70px);
      display: inline-block;
      vertical-align: top;
    }
